*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand Variable", Verdana, Geneva, Tahoma, sans-serif;
}

:root{
    --quicksand: "Quicksand Variable", Verdana, Geneva, Tahoma, sans-serif;

    --olivina: #9AB973;
    --olivastro: #6B8E23;
    --oliva-scuro: #556B2F;
    --rosso: #BB5E64;

    --olivina-rgb: 154, 185, 115;
    --olivastro-rgb: 107, 142, 35;
    --oliva-scuro-rgb: 85, 107, 47;
    --rosso-rgb: 187, 94, 100;
}

@media (min-width: 50rem) {
    html, body {
        overscroll-behavior: none;
    }
}

button, input, textarea {
    font-size: inherit;
    font-family: inherit;
}

::selection {
    background-color: var(--olivastro);
    color: white;
}